extend ../layout
block content
  .container
    .row
      // 菜谱信息 开始
      .col-md-8
        -var cp = data.result.data[0]
        img.albums.img-responsive(src=cp.albums[0],alt=cp.title)
        h1 #{cp.title}
        p.imtro #{cp.imtro}
        table#cp-table.table.table-bordered.table-responsive
          tr.active
            th(colspan="2",style="color:red") 主料
          each val,index in cp.ingredients.split(';')
            if index%2==0
              tr
            td
              -var ing = val.split(',')
              span #{ing[0]}
              i.pull-right #{ing[1]}
          tr.active
            th(colspan="2",style="color:blue") 辅料
          each val,index in cp.burden.split(';')
            if index%2==0
              tr
            td
              -var bur = val.split(',')
              span #{bur[0]}
              i.pull-right #{bur[1]}
        h2 作法步骤
        ol#list.clearfix
          each val,index in cp.steps
            li.clearfix.thumbnail
              figure
                img.li-img.img-responsive(src=val.img)
              figcaption.caption
                p #{val.step}
        //-
          .widget
            h2.title 肥牛金针菇的评论  
            .text
              textarea.form-control
              button.btn.btn-danger#submit 评论 
            ul.list-unstyled
              //-
                each val,index in cp.comment
              li.clearfix.item
                .pull-left.uname
                  b ccxcx
                .wrap.fl
                  div 
                    span.time 2054
                    a.reply-btn(href="##") 回复
                    p.cm-content 户籍科户籍科