extend ../layout
block content
  .container
    if data.error_code
      p #{data.reason}
    else
      h1 搜索：#{title}
      .row
        .col-md-8.search-result
          each val, index in data.result.data
            article.clearfix.thumbnail
              figure
                a(href="/cookbook/"+val.id)
                  img(src=val.albums[0],alt=val.title,width="120",height="150")
              figcaption.caption
                h3
                  a(href="/cookbook/"+val.id) #{val.title}
                .tag-cloud
                 -var tags = val.tags.split(";");
                  each v, i in tags
                    -var num = listId.indexOf(v)
                    if num>-1
                      a.tag(href="/list/"+num) #{v}
                    else
                      span.tag(style="background:#ccc") #{v}
                .post-permalink
                  a.btn.btn-default.pull-right(href="/cookbook/"+val.id) 查看全部
                p #{val.imtro}
          nav.pagination
            unless data.result.pn==0
              a.newer-posts(href="/search/?q="+title+"&pn="+(Number(data.result.pn)-20)) ← 上一页
            span.page-number 第 #{1+Math.floor(data.result.pn/20)} 页/共 #{Math.ceil(data.result.totalNum/20)} 页
            unless 1+Math.floor(data.result.pn/20)==Math.ceil(data.result.totalNum/20)
              a.older-posts(href="/search/?q="+title+"&pn="+(Number(data.result.pn)+20)) ← 下一页